<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Twitter</title>
    <link rel="stylesheet" href="style2.css">

  </head>
  <body>
    <h1>Post to Twitter</h1>
    <br />

    <form action="/posts" method="post">
      <label for="user">Username:</label><br />
      <input type="text" name="user" placeholder="enter name" /> <br /><br> <br>

      <label for="content">Content</label><br />

      <textarea name="content" placeholder="type ur thoughts here" rows="7" cols="30"></textarea>
      
      <br> <br>
      <button>Submit</button>
    </form>
  </body>
</html>
