<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Twiit</title>
    <link rel="stylesheet" href="style2.css">

</head>
<body>
    <h2>
        Twit in Detail:

    </h2>

    <p>
        <h3>
            @<%=post.user%>

        </h3>
        <p>
            <%=post.content%>
        </p>

    </p>
    <br>
    <br>
    <a href="http://localhost:8080/posts" >Back to Home..</a> <br> <br>
    <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>

    <br>
    
</body>
</html>